.chessboard {
  display: grid;
  grid-template-columns: repeat(8,100px);
  grid-template-rows: repeat(8,100px);
  grid-gap:1px;
  font-family:sans;
  border:10px solid #5e4529;
  border-radius:10px;
}

.block{
  color:#322a1f;
  text-transform:uppercase;
  font-weight:bold;
  border-radius:2px;
  flex: 1 1 0;
  display: flex;
  flex-flow: column nowrap;
  /* border: 1px solid #322a1f; */
  position: relative;
}

.white{
  background:white;
}

.black{
  background: gray;
}

.App{
display:flex;
justify-content:center;
align-items:center;
}

.square-meta {
  display: flex;
  justify-content: space-between;
}

.chess-id {
  font-size: 75%;
  background-color: '#0F8E51';
  color: '#fff';
  padding: .2em;
}

.piece {
  display: flex;
  flex: 1 1 auto;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  cursor: pointer;
}

.highlight-border {
  border: 2px dashed red  ;
  cursor: pointer;
}